@import 'var';

.about {
  width: 100%;
  max-height: 495px;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;

  &_left {

    &::before{
      content: "";
      position: absolute;
      right: 60%;
      top: 0;
      left: 0;
      bottom: 0;
      background: url("../img/about.jpg") no-repeat;
      background-position: 0% 50%;
      background-size: cover;
    }
  }

  &_right {

    &::before {
      content: "";
      position: absolute;
      left: 58%;
      top: 0;
      right: 0;
      bottom: 0;
      background: url("../img/about_right.jpg") no-repeat;
      background-position: right 0% top 50%;
      background-size: cover;
    }
  }

  &__article {
    flex: 0 0 41%;
    max-width: 660px;
    padding: 95px 0;
    color: $textGray;
    font-size: 0.938rem;
    font-weight: 400;

    &_right {
      margin-left: 44%;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.45;
    margin: 0;
    padding: 0;
  }

  &__text {
    line-height: 1.72;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    max-height: 100px;
    overflow: hidden;

    &_big {
      font-size: 1.188rem;
      line-height: 1.6;
      max-height: 120px;
      overflow: hidden;
    }
  }
}