@import "var";

.footer {
  width: 100%;
  min-height: 370px;
  background-color: $blue;
  color: $white;

  &__text {
    max-width: 660px;
    overflow: hidden;
    height: 15px;
    font-size: 0.75rem;
    padding: 45px 0 0;
  }
}