@import 'var';

html,
body {
  height: 100%;
  @include box;
  @include openSans;
}

.container {
  @include center;
  @include box;
  max-width: 1180px;
  padding: 0 10px;
}

.button {
  border: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
  width: 280px;
  height: 60px;
  @include butShadow;
  border-radius: 30px;
  color: $white;
  font-size: 1.125rem;
  font-weight: 700;

  &:focus {
    outline: none;
  }

  &_velvet {
    background-color: $velvet;

    &:hover {
      background-color: lighten($velvet, 3%);
    }
  }

  &_white {
    background-color: $white;
    color: $buttonPink;
    position: relative;
    z-index: 30;
  }

  &-header {
    margin-top: 50px;
  }

  &-pink {
    margin: 15px 0;
  }
}

.info-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text_small {
  max-width: 230px;
  height: 13px;
  overflow: hidden;
  font-size: 12px;
  margin: 18px 25px 0 0;
}