// variables

$gray: #626262;
$white: #fff;
$velvet: #8824cd;
$blue: #2e3b4e;
$buttonPink: #d54c63;
$pink: #e7526b;
$textGray: #3a4d60;
$purple: #a87bb7;

//mixins

@mixin center {
  margin: 0 auto;
}

@mixin box {
  box-sizing: border-box;
}

@mixin openSans {
  font-family: "Open Sans", sans-serif;
}

@mixin butShadow {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
}