// variables

$gray: #626262;
$white: #fff;
$velvet: #8824cd;

//mixins

@mixin center {
  margin: 0 auto;
}

@mixin box {
  box-sizing: border-box;
}

@mixin openSans {
  font-family: "Open Sans", sans-serif;
}

@mixin butShadow {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
}