<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet">
  <title>Pex</title>
</head>
<body>
  {% include 'templates/header.html' %}
  {% include 'templates/features.html' %}
  {% include 'templates/pink.html' %}
  {% include 'templates/about.html' %}
  {% include 'templates/experience.html' %}
  {% include 'templates/article.html' %}
  {% include 'templates/about_2.html' %}
  {% include 'templates/contacts.html' %}
  {% include 'templates/footer.html' %}

  <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
</body>
</html>
